@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media screen and (-webkit-device-pixel-ratio: 1.5) {
  /* CSS for high-density screens */
  #header {
      background:magenta;
  }
}

@media screen and (-webkit-device-pixel-ratio: 0.75) {
  /* CSS for low-density screens */
  #header {
      background:pink;
  }
}

.rankLink{
  position:relative
}

.rankLink .hidden{
  display:none
}
.rankLink:hover{
  display:inline-block;
  height: 35px;
}
.rankLink:hover .hidden{
  display:flex;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 1000;
}
.rankLink:hover .hidden a{
  margin: 0;
  min-width: 50px
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.search {
  display: inline-flex;
  background-color:#e1e1e1a3;
  border-radius: 10px;
  padding: 10px 10px 6px;
  max-width: 1130px;
}

.search > div {
    margin:5px;
}

.rankRow{
  display: inline-flex;
  justify-content: space-between;
  color:white;
  width:100%;
  font-size: 1.3rem !important;
  line-height:45px;
}

@media only screen and (max-width: 1350px) {
  main.p-24 {
    padding:0
  }
}

@media only screen and (max-width: 1150px) {
  .search {
    justify-content: center;
    display: flex;
  }
  
}

@media only screen and (max-width: 840px) {
  table{
    min-width: 335px;
  }
  .search {
    display: flex;
    flex-direction: column;
  }
  .search > div{
    width:100%;
  }
  th {
    overflow: hidden;
    display: block !important;
    width: 30%;
    border-bottom:none !important
  }
  th.hiddenOnMoblie {
    display: none !important;
  }
  tr:hover.showOnHover th {
    overflow: auto;
    display: block !important;
    width: 40%
  }
  th.removeOnMobile {
    display: none  !important;
  }
  tr:hover.showOnHover th.removeOnMobile {
    display: none  !important;
  }
  .rankRow{
    flex-direction: column;
    font-size: 1rem !important;
    text-align: left;
  }
}

.topButton {
  color: white;
  display: inline-block;
  margin: 5px;
  right: 10px;
  padding: 2px 10px;
  border-radius: 5px;
}
@keyframes newColor {
  from {color: red;}
  50% {color: rgb(248, 198, 62);}
  to {color: red;}
}
.new::before {
  transform: rotate(-15deg);
  content: "new";
  position: absolute;
  margin: -15px;
  color: red;
  font-weight: 600;
  animation-name: newColor;
  animation-duration: 1s;
  animation-iteration-count: infinite
}
.classes {
  text-align: center;
  background-color: #646464b5;
    padding: 10px 0 3px 0;
    border-radius: 7px;
    margin: 20px 0;
}
.classes .classBox {
  display: inline-block;
  width: 3.2vw;
  overflow: hidden;
  min-width: 40px;
  min-height: 40px;
  height: 2.4vw;
  box-sizing: border-box;
  position: relative;
}

.classImg{
  background-size: cover;
  background-position: center center;
  height:100%;
  width:100%;
}

.classImg:hover{
  opacity: .6;
  cursor:pointer
}

.background{
  background-image: url(https://web.poecdn.com/protected/image/layout/affliction-bg.jpg?v=1701820749180&key=DjKY_r5CwKtc-AqkN0pazw);
  background-size: cover;
  background-position: center center;
  position: fixed;
  height:100%;
  width:100%;
}

.listContent{
  min-width:335px;
  background-color: transparent !important;
  text-align: center;
}

.button {
  color:#fb4ab0;
}

.rankRow span{
  margin:0 .2rem;
}

.hover-button {
  display:inline-block;
  cursor: pointer;
}

.hover-button > svg {
  color: #e30065
}

.hover-button:hover  > svg {
  color: pink;
  background-color:'white'
}