@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media screen and (-webkit-device-pixel-ratio: 1.5) {
  /* CSS for high-density screens */
  #header {
      background:magenta;
  }
}

@media screen and (-webkit-device-pixel-ratio: 0.75) {
  /* CSS for low-density screens */
  #header {
      background:pink;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.search {
  display: inline-flex;
  background-color:#e1e1e1a3;
  border-radius: 10px;
  margin-bottom: 20px;
}

.search > div {
    margin:5px;
}

.rankRow{
  display: inline-flex;
  justify-content: space-between;
  color:white;
  width:100%;
  font-size: 1.3rem;
  line-height:45px;
}

@media only screen and (max-width: 1300px) {
  main.p-24 {
    padding:0
  }
}

@media only screen and (max-width: 1080px) {
  table{
    min-width: 480px;
  }
  tr {
    display: flex !important;
    flex-flow: wrap;
  }
  th {
    overflow: hidden;
    display: block !important;
    width: 40%;
    border-bottom:none !important
  }
  th.hiddenOnMoblie {
    display: none !important;
  }
  tr:hover.showOnHover th {
    overflow: auto;
    display: block !important;
    width: 20%
  }
  th.removeOnMobile {
    display: none  !important;
  }
  tr:hover.showOnHover th.removeOnMobile {
    display: none  !important;
  }
}

@media only screen and (max-width: 480px) {
  table{
    min-width: 335px;
  }
  .search {
    display: flex;
    flex-direction: column;
  }
  th {
    overflow: hidden;
    display: block !important;
    width: 30%;
    border-bottom:none !important
  }
  th.hiddenOnMoblie {
    display: none !important;
  }
  tr:hover.showOnHover th {
    overflow: auto;
    display: block !important;
    width: 40%
  }
  th.removeOnMobile {
    display: none  !important;
  }
  tr:hover.showOnHover th.removeOnMobile {
    display: none  !important;
  }
  .rankRow{
    flex-direction: column;
    font-size: .9rem;
  }
}

.topButton {
  color: white;
  display: inline-block;
  margin: 5px;
  right: 10px;
  padding: 2px 10px;
  border-radius: 5px;
}
.classes {
  text-align: center;
  background-color: #646464b5;
    padding: 10px 0 3px 0;
    border-radius: 7px;
    margin: 20px 0;
}
.classes .classBox {
  display: inline-block;
  width: 3.2vw;
  overflow: hidden;
  min-width: 40px;
  min-height: 30px;
  height: 2.4vw;
  box-sizing: border-box;
}

.classImg{
  background-size: cover;
  background-position: center center;
  height:100%;
  width:100%;
}

.background{
  background-image: url(https://i.imgur.com/9N2ttO9.jpg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  height:100%;
  width:100%;
}

.listContent{
  min-width:335px;
  background-color: transparent !important;
  text-align: center;
}

.button {
  color:#fb4ab0;

}

.rankRow span{
  margin:0 .2rem;
}